@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@theme {
    /* background colors */
    --color-background-blue: #002776;
    --color-background-grey: #d9d9d9;
    --color-button-blue: #00A7FF;
    /* text colors */
    --color-text-blue: #002776;
    --color-text-grey: #444444;
    /* fonts */
    --font-display-rubik: "Rubik", sans-serif;  
}
  
   